@font-face {
    font-family: "ArcadeClassic";
    src: url("/assets/fonts/arcade_classic_2/ARCADECLASSIC.TTF");
}

:root {
    --text-color: white;
    --game-background: rgb(1, 1, 0);
    --game-wall: rgb(33, 32, 254);
    --pellet: rgb(250, 184, 177);
    --tile-size: 40px;
}

html, body {
    padding: 0;
    margin: 0;
    
    width: 100vw;
    height: 100vh;
    
    overflow: hidden;

    background-color: var(--game-background);
    color: var(--text-color);
}

.fullscreen {
    display: flex;
    position: relative;
    flex-direction: column;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
}

#game {
    /* width: calc(17 * var(--tile-size));
    height: calc(19 * var(--tile-size)); */

    width: 100%;
    height: 100%;

    /* margin: auto; */

    box-sizing: border-box;
}

#menu {
    position: absolute;
    width: 100%;
    height: 100%;
}

#header-display {
    display: flex;
    max-width: calc(17 * var(--tile-size));
    width: 100%;
    font-size: 1.5rem;

    flex-direction: row;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;

    font-family: "ArcadeClassic", system-ui;
    font-style: normal;
}

canvas {
    /* image-rendering: pixelated;
    image-rendering: crisp-edges; */
}